:root {
    --primary:#324933;
    --secondary: #fd6035;
    --background: #f5efe1;
}
body{
    background-color: var(--background)!important;
}
h1, h2, h3, h4, li, p, a, span, svg{
    color: var(--primary)!important;
}
/* GitHub icon */
.MuiBox-root .MuiIconButton-variantOutlined {
    border-color: var(--primary)!important;
    transition: .2s all ease-in-out!important;
}
.MuiBox-root .MuiIconButton-variantOutlined:hover{
    background-color: var(--primary)!important;
}
.MuiBox-root .MuiIconButton-variantOutlined:hover svg{
    color: var(--background)!important;
}

/* Localization slider selection */
.MuiSlider-root .MuiSlider-rail{
    background-color: var(--primary)!important;
}
.MuiSlider-root .MuiSlider-thumb::before{
    border-color: var(--primary)!important;
}
.MuiSlider-root .MuiSlider-thumb.Mui-focusVisible,
.MuiSlider-root .MuiSlider-thumb:focus-visible{
    outline-color: rgba(50, 73, 51, 0.32)!important;
}

/* Longevity gender selection */
.MuiButtonGroup-root .MuiIconButton-root.MuiIconButton-variantSoft{
    background-color: var(--primary)!important;
    border-color: var(--background)!important;
}
.MuiButtonGroup-root .MuiIconButton-root .MuiSvgIcon-root{
    color: var(--background)!important;
}
.MuiButtonGroup-root .MuiIconButton-root.MuiIconButton-variantSolid{
    background-color: var(--secondary)!important;
}

/* Aide pour lire l'arbre */
#legend{
    margin-top: 50px;
    margin-bottom: 30px;
}
